*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
h1{
    color:yellow;
    text-align: center;
}
.cajapacman{
    border: 2px solid blue;
    height: 80vh;
    text-align: center;
}
.pacman1{
    position:relative;
    animation: pa 5s infinite;
    text-align: left;
}
@keyframes pa {
    from { left: 0px;}
    to {left: 1500px;}
}

@keyframes pa {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}